/* mobile device */

.hide {

    display: none;

}

@media screen and (max-width: 576px) {
    .header{
        background-image: none;
    }
    img.profile-pic{
        width: 100%;
    }
    nav,
    nav > ul ,
.banner,
    .skills-containt,
    .resume-contain,
    .about-info-contant ,
    footer
     {
        flex-direction: column;
    }

    #what-i-do {
        padding: 20px;
    }
    nav > ul {
        gap: 20px;
    }


    .resume-column {

        padding: 10px;
    }

    footer,
    .about ,.banner{

        padding: 10px;
    }

    .footer-column {

        width: 100%
    }

    .contact input[type="text"],
    .contact input[type="email"],
    textarea {

        width: 80%;


    }

}

@media screen and (min-width: 576px) and (max-width:960px) {}